{{- define "main" -}}
{{- $paginator := .Paginator -}}

{{- $title := T .Title -}}
{{- if not $title -}}
{{- $title = .Title -}}
{{- end -}}
<section class="article header">
    <h1>{{- $title -}}</h1>
</section>

<!-- Ranges through content/posts/*.md -->
{{- partial "note-list.html" $paginator -}}
{{- partial "pagination.html" $paginator -}}

{{- end -}}