<div class="footer wrapper">
    <nav class="nav">
        <div>{{ with .Site.Copyright }} {{ . }} | {{ end }} <a
                href="https://themes.gohugo.io/hugo-notepadium">hugo-notepadium teması</a> | <a
                href="https://gohugo.io">Hugo ile geliştirildi</a> | <a
                href="https://gitlab.com/sdrig/koddanadam">Kaynak kod</a></div>
    </nav>
</div>

{{ template "_internal/google_analytics.html" . }}
{{- with .Site.Params.Social -}}
<script>feather.replace()</script>
{{- end -}}