{{- $paginator := . -}}

{{- if gt $paginator.TotalPages 0 -}}
{{- $dateFormat := site.Params.dateFormat -}}
{{- if not $dateFormat -}}{{- $dateFormat = "01-02-2006" -}}{{- end -}}
<ul class="note list">
    {{- range $paginator.Pages -}}
    {{ if not (in .Params.tags "page") }}
    <li class="item"><a class="note" href="{{- .RelPermalink -}}">
            <p class="note title">{{- .Title | safeHTML -}}</p>
            {{- if .Date -}}
            <p class="note date">{{- .Date.Format $dateFormat -}}</p>
            {{- end -}}

            {{- $relURL := .RelPermalink -}}
            {{- $imgs := .Params.imgs -}}
            {{- with .Params.imgs -}}
            <span class="note imgs">
                {{- $imgCount := len $imgs -}}
                {{- range $imgs -}}
                {{- $imgurl := lower . -}}
                {{- if and (not (hasPrefix $imgurl "http://")) (not (hasPrefix $imgurl "https://")) -}}
                {{- $imgurl = path.Join $relURL . -}}
                {{- end -}}
                <img class="img" src="{{- $imgurl -}}" alt />
                {{- end -}}
            </span>
            {{- end -}}
        </a>
        {{- partial "note-labels.html" . -}}
    </li>
    {{- end -}}
    {{- end -}}
</ul>
{{- end -}}